* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee9ee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
  margin: 1vh 0;
}

.wrapper {
  max-width: 90vw;
  margin: 2vh auto;
}

.title {
  margin-bottom: 3vh;
  font-size: 24px;
  font-weight: 700;
}

.accordion-item {
  position: relative;
  cursor: pointer;
}

.accordion-input {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 5vh;
  opacity: 0;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: 1s;
  margin: 1vh;
}

.accordion-button {
  display: flex;
  min-height: 5vh;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -0.01vh;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 1s;
}

.accordion-button h2 {
  width: 80%;
  font-size: 20px;
}

.accordion-button div {
  width: 6vw;
  height: 6vh;
  opacity: 1;
  background-image: url(/cssBayan/img/plus_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.accordion-input:checked ~ .accordion-content {
  max-height: 200vh;
  transition: 1s;
}

.accordion-input:checked ~ .accordion-button {
  color: #000000;
}

.accordion-input:checked ~ .accordion-button .plus-icon {
  transform: rotate(45deg);
}

.accordion-img {
  display: block;
  width: 80%;
  margin: 0 auto;
}


@media (min-width: 720px) {
  .title {
    font-size: 36px;
  }
  .wrapper {
    max-width: 80vw;
    margin: 2vh auto;
  }
  .accordion-img {
    width: 70%;
  }
  .accordion-button {
    font-size: 20px;
  }
  .accordion-button .plus-icon {
    width: 3vw;
    height: 4vh;
    opacity: 1;
  }
}

@media (min-width: 825px) {
  .accordion-button {
    color: #7a1c61;
  }

  .accordion-button .plus-icon{
    opacity: 0;
  }

  .accordion-container:hover .accordion-button {
    color: #000000;
  }

  .accordion-container:hover .accordion-button .plus-icon {
    opacity: 1;
  }

  .accordion-input:hover ~ .accordion-content {
    max-height: 80vh;
    transition: 3s;
  }

  .accordion-item:hover > .accordion-content {
    max-height: 80vh;
    transition: 3s;
  }

  .accordion-item:hover > .accordion-button .plus-icon {
    transform: rotate(45deg);
    transition: 1s;
  }
}

@media (min-width: 1280px) {
  .title {
    font-size: 40px;
  }
  .wrapper {
    max-width: 50vw;
    margin: 3vh auto;
  }
  .accordion-img {
    width: 60%;
  }
  .accordion-button {
    font-size: 24px;
  }
  .accordion-button .plus-icon {
    width: 2vw;
    height: 3vh;
    opacity: 0;
  }
  .accordion-button h2 {
    width: 90%;
  }
}